<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }}
}
</script>
{{- $person := .Site.Params.person -}}
{{- $personName := $person.name | default .Site.Params.author | default .Site.Author.name | default .Site.Title -}}
{{- $personURL := $person.url | default .Site.BaseURL -}}
{{- $personImage := $person.image | default .Site.Params.avatar -}}
{{- $sameAs := $person.sameAs | default .Site.Params.sameAs -}}
{{- $personId := printf "%s#maarten" (.Site.BaseURL | absURL) -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": {{ $personId | jsonify }},
  "name": {{ $personName | jsonify }},
  "url": {{ $personURL | absURL | jsonify }}{{ if $personImage }},
  "image": {{ $personImage | absURL | jsonify }}{{ end }}{{ if $sameAs }},
  "sameAs": {{ $sameAs | jsonify }}{{ end }}
}
</script>
{{- if eq .Section "posts" -}}
  {{- $rawDescription := .Params.description | default .Summary | default .Site.Params.description | default .Site.Title -}}
  {{- $description := $rawDescription | plainify | htmlUnescape | truncate 160 -}}
  {{- $imageURL := "" -}}
  {{- with .Params.image -}}
    {{- with $.Resources.GetMatch . -}}
      {{- $imageURL = .Permalink -}}
    {{- else -}}
      {{- $imageURL = . | absURL -}}
    {{- end -}}
  {{- end -}}
  {{- $author := .Site.Params.author | default .Site.Author.name -}}
  {{- $authorName := "" -}}
  {{- if $author -}}
    {{- if (reflect.IsMap $author) -}}
      {{- $authorName = index $author "name" -}}
    {{- else -}}
      {{- $authorName = $author -}}
    {{- end -}}
  {{- end -}}
  {{- $hasModified := and .Lastmod (ne .Lastmod .Date) -}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ .Title | jsonify }},
    "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
    {{- if $hasModified }}
    "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
    {{- end }}
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ .Permalink | jsonify }}
    },
    "description": {{ $description | jsonify }}{{ if $authorName }},
    "author": {
      "@type": "Person",
      "name": {{ $authorName | jsonify }}
    }{{ end }}{{ if $imageURL }},
    "image": [{{ $imageURL | jsonify }}]
    {{- end }}
  }
  </script>
{{- end -}}
